body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.coverImage {
  width: 50%;
  height: auto;
}

#books {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 0px));
  justify-content: center;
  list-style: none;
}

#bookImg {
  display: flex;
  flex-direction: column;
}