body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-left: 10px;
}

.coverImage {
  width: 50%;
  height: auto;
}

#singleBookCard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.singleCoverImage {
  width: 30%;
  height: auto;
}

.singleBookContainer {
  padding: 10px 30px;
}

#books {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 0px));
  justify-content: center;
  list-style: none;
}

#bookImg {
  display: flex;
  flex-direction: column;
}

.booktitle, .logIn, .account {
  margin-left: 20px;
}

.loginForm,
.registerForm {
  display: flex;
  place-items: center;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

/* #password, #username {
  padding: 5%;
  display: inline-flex;
} */

#navbar {
  display: flex;
}

.books,
.login,
.account,
.hello {
  padding-left: 5%;
  margin-top: 2%;
}